# Ignore config files
param.txt
content.txt
personal_profile.json
pass_list.txt
seniority_word_list.txt
bookmarks.txt
job.json
prompt_p1.txt
prompt_p2.txt
prompt_p3.txt
prompt_p4.txt
signature.txt
cover_letter.txt
skills_stats.json

# Ignore folders
__pycache__