# Ignore config files
param.txt
content.txt
demo.txt
personal_profile.txt
pass_list.txt
seniority_word_list.txt
bookmarks.txt
job_json.txt
prompt_p1.txt
prompt_p2.txt
prompt_p3.txt
prompt_p4.txt
signature.txt
cover_letter.txt

# Ignore folders
__pycache__