# Ignore config files
param.txt
llm_json.txt
desc.txt
content.txt
demo.txt
personal_profile.txt
pass_list.txt
llm_sugg.txt
seniority_word_list.txt
bookmarks.txt
main - Copy.py
job_json.txt



# Ignore folders
__pycache__